NTierApps/Implem3/PUPPoints-Demo/PointsStudentView/Connected Services/PointsService/PointsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://pointservice.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://pointservice.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://pointservice.org/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudentPoints">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="number" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudentPointsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStudentPointsResult" type="tns:StudentPoints" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="StudentPoints">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StudentNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Points" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllStudentPoints">
        <s:complexType />
      </s:element>
      <s:element name="GetAllStudentPointsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllStudentPointsResult" type="tns:ArrayOfStudentPoints" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStudentPoints">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="StudentPoints" nillable="true" type="tns:StudentPoints" />
        </s:sequence>
      </s:complexType>
      <s:element name="UsePoints">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userRole" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="studentNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="points" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UsePointsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UsePointsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPoints">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userRole" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="studentNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="points" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPointsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddPointsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IfStudentExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="studentNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IfStudentExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IfStudentExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetStudentPointsSoapIn">
    <wsdl:part name="parameters" element="tns:GetStudentPoints" />
  </wsdl:message>
  <wsdl:message name="GetStudentPointsSoapOut">
    <wsdl:part name="parameters" element="tns:GetStudentPointsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllStudentPointsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllStudentPoints" />
  </wsdl:message>
  <wsdl:message name="GetAllStudentPointsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllStudentPointsResponse" />
  </wsdl:message>
  <wsdl:message name="UsePointsSoapIn">
    <wsdl:part name="parameters" element="tns:UsePoints" />
  </wsdl:message>
  <wsdl:message name="UsePointsSoapOut">
    <wsdl:part name="parameters" element="tns:UsePointsResponse" />
  </wsdl:message>
  <wsdl:message name="AddPointsSoapIn">
    <wsdl:part name="parameters" element="tns:AddPoints" />
  </wsdl:message>
  <wsdl:message name="AddPointsSoapOut">
    <wsdl:part name="parameters" element="tns:AddPointsResponse" />
  </wsdl:message>
  <wsdl:message name="IfStudentExistsSoapIn">
    <wsdl:part name="parameters" element="tns:IfStudentExists" />
  </wsdl:message>
  <wsdl:message name="IfStudentExistsSoapOut">
    <wsdl:part name="parameters" element="tns:IfStudentExistsResponse" />
  </wsdl:message>
  <wsdl:portType name="PointsServiceSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentPoints">
      <wsdl:input message="tns:GetStudentPointsSoapIn" />
      <wsdl:output message="tns:GetStudentPointsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStudentPoints">
      <wsdl:input message="tns:GetAllStudentPointsSoapIn" />
      <wsdl:output message="tns:GetAllStudentPointsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UsePoints">
      <wsdl:input message="tns:UsePointsSoapIn" />
      <wsdl:output message="tns:UsePointsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPoints">
      <wsdl:input message="tns:AddPointsSoapIn" />
      <wsdl:output message="tns:AddPointsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IfStudentExists">
      <wsdl:input message="tns:IfStudentExistsSoapIn" />
      <wsdl:output message="tns:IfStudentExistsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PointsServiceSoap" type="tns:PointsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://pointservice.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentPoints">
      <soap:operation soapAction="http://pointservice.org/GetStudentPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStudentPoints">
      <soap:operation soapAction="http://pointservice.org/GetAllStudentPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsePoints">
      <soap:operation soapAction="http://pointservice.org/UsePoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPoints">
      <soap:operation soapAction="http://pointservice.org/AddPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IfStudentExists">
      <soap:operation soapAction="http://pointservice.org/IfStudentExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PointsServiceSoap12" type="tns:PointsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://pointservice.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentPoints">
      <soap12:operation soapAction="http://pointservice.org/GetStudentPoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStudentPoints">
      <soap12:operation soapAction="http://pointservice.org/GetAllStudentPoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsePoints">
      <soap12:operation soapAction="http://pointservice.org/UsePoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPoints">
      <soap12:operation soapAction="http://pointservice.org/AddPoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IfStudentExists">
      <soap12:operation soapAction="http://pointservice.org/IfStudentExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PointsService">
    <wsdl:port name="PointsServiceSoap" binding="tns:PointsServiceSoap">
      <soap:address location="https://localhost:44303/PointsService.asmx" />
    </wsdl:port>
    <wsdl:port name="PointsServiceSoap12" binding="tns:PointsServiceSoap12">
      <soap12:address location="https://localhost:44303/PointsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>